<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/zaposljeni"></ion-back-button>
    </ion-buttons>
    <ion-title>Dodaj zaposljenog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editorForm" *ngIf="editorFormActive" (ngSubmit)="onSubmit()" (keydown.enter)="onSubmit()" >

    <ion-grid style="padding-top: 100px;" >
      <ion-row class="ion-justify-content-center " >
        <ion-col sizeXs="12" sizeMd="5" sizeXl="3" class="ion-padding" >
          <div class="form-group">
            <ion-item>
              <ion-input type="text" placeholder="Ime" [autofocus]="true" formControlName="name"></ion-input>
            </ion-item>
            <ion-label
              *ngIf="(editorForm.controls.name.touched || submitted) && editorForm.controls.name.errors?.required"
              class="small-1"
              color="danger"
            >Potrebno je uneti ime korisnika
            </ion-label>
          </div>
        </ion-col>

        <ion-col sizeXs="12" sizeMd="5" sizeXl="3" class="ion-padding">
          <div class="form-group">
            <ion-item>
              <ion-input type="text" placeholder="Prezime" [autofocus]="true" formControlName="surname"></ion-input>
            </ion-item>
            <ion-label
              *ngIf="(editorForm.controls.surname.touched || submitted) && editorForm.controls.surname.errors?.required"
              class="small-1"
              color="danger"
            >Potrebno je uneti prezime korisnika
            </ion-label>
          </div>
        </ion-col>
      </ion-row>


      <ion-row class="ion-justify-content-center ion-padding">
        <ion-col sizeXs="12" sizeMd="10" sizeXl="6">
          <div class="form-group">
            <ion-item>
              <ion-input type="email" placeholder="Email" [autofocus]="true" formControlName="email"></ion-input>
            </ion-item>
            <ion-label
              *ngIf="(editorForm.controls.email.touched || submitted) && editorForm.controls.email.errors?.required"
              class="small-1"
              color="danger"
            >Potrebno je uneti email adresu
            </ion-label>
            <ion-label
              *ngIf="(editorForm.controls.email.touched || submitted) && editorForm.controls.email.errors?.email"
              class="small-1"
              color="danger"
            >Email adresa nije validna
            </ion-label>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-padding">
        <ion-col sizeXs="12" sizeMd="5" sizeXl="6" >
          <div class="form-group">
            <ion-item>
              <ion-textarea rows="8" col="12"  id="tools" formControlName="tools" placeholder="Zaduži alat"></ion-textarea>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-padding">
        <ion-col sizeXs="12" sizeMd="10" sizeXl="6">
          <div class="form-group">
            <ion-item>
              <ion-input #password type="password" placeholder="Lozinka" formControlName="password"></ion-input>
              <ion-icon name="eye"
                        slot="end"
                        class="show-right-icon-input pointer"
                        (click)="showPassword(password)"
              ></ion-icon>
            </ion-item>
            <ion-label
              *ngIf="(editorForm.controls.password.touched || submitted) && editorForm.controls.password.errors?.required"
              class="small-1"
              color="danger"
            >Potrebno je uneti lozinku
            </ion-label>
            <ion-label
              *ngIf="(editorForm.controls.password.touched || submitted) && editorForm.controls.password.errors?.minlength"
              class="small-1"
              color="danger"
            >Lozinka mora imati minimum 6 karaktera
            </ion-label>
            <ion-label
              *ngIf="(editorForm.controls.password.touched || submitted) && editorForm.errors?.passwordNotStrong"
              class="small-1"
              color="danger"
            >Lozinka mora sadržati minimum 1 cifru, 1 veliko slovo i 1 specijalni karakter
            </ion-label>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-padding">
        <ion-col sizeXs="12" sizeMd="10" sizeXl="6">
          <div class="form-group">
            <ion-item>
              <ion-input #passwordRepeat type="password" placeholder="Potvrdi Lozinku" formControlName="confirmedPassword"
              ></ion-input>
              <ion-icon name="eye"
                        slot="end"
                        class="show-right-icon-input pointer"
                        (click)="showPassword(passwordRepeat)"
              ></ion-icon>
            </ion-item>
            <ion-label
              *ngIf="(editorForm.controls.confirmedPassword.touched || submitted) && editorForm.controls.confirmedPassword.errors?.required"
              class="small-1"
              color="danger"
            >Potrebno je uneti potvrdu lozinke
            </ion-label>
            <br>
            <ion-label
              *ngIf="editorForm.errors?.passwordsNotMatched"
              class="small-1"
              color="danger"
            >Lozinke se ne poklapaju
            </ion-label>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col sizeXs="12" sizeMd="6" sizeXl="5" class="ion-text-center">
          <ion-button color="primary" type="submit" class="login-button" [disabled]="editorForm.invalid">Dodaj</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
