<ion-content [fullscreen]="true">

  <ion-header>
    <ion-toolbar class="ion-padding-start">
      {{(isNew ? 'Izaberi' : 'Izmeni')}} {{ takeEntity }}
      <ion-icon size="large" class="ion-padding pointer" slot="end" (click)="dismiss()" name="close-outline"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <form>
    <ion-grid>

      <ion-row *ngIf="filter">
        <ion-col>
          <ion-item>
            <ion-input [formControl]="filter" placeholder="Traži..."></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ng-container *ngIf="!loading && pickerPaginationConfig.total !== undefined && pickerPaginationConfig.total > 0">

<!--        <ion-item *ngFor="let data of getItems()" button>-->
<!--          <ion-label *ngIf="type === types.client || type === types.user" (click)="pick(data)">{{ data.name }}</ion-label>-->
<!--          <ion-label *ngIf="type === types.warehouse" (click)="pick(data)">{{ data.name }}</ion-label>-->
<!--          <ion-label *ngIf="type === types.product" (click)="pick(data)">{{ data.name }}</ion-label>-->
<!--        </ion-item>-->

        <ion-row>
          <ion-col class="ion-text-center">
            <ion-icon name="chevron-back-outline" class="pointer ion-padding" *ngIf="pickerPaginationConfig.pageIndex > 0" (click)="changePage(false)">

            </ion-icon>
            <ion-icon
              *ngIf="pickerPaginationConfig.total / (pickerPaginationConfig.pageIndex + 1) > pickerPaginationConfig.pageSize"
              (click)="changePage(true)"
              name="chevron-forward-outline"
              class="pointer ion-padding"></ion-icon>
          </ion-col>
        </ion-row>

      </ng-container>


      <ion-row *ngIf="loading" class="ion-justify-content-center">
        <ion-col>
          <ion-spinner  color="primary"></ion-spinner>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!loading && pickerPaginationConfig !== undefined && pickerPaginationConfig.total === 0">
        <ion-col>
          <ion-item>
            <ion-label>Ne postoji!</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

     </ion-grid>
  </form>
</ion-content>
